pyrogram==2.0.106
tgcrypto==1.2.5
pytgcalls==2.0.0
python-dotenv
yt-dlp
youtube_search_python
requests
aiohttp
aiofiles
asyncio
search_engine_parser
ffmpeg-python
pillow
python-arq
future
psutil
wget
tswift
regex
